:root {
  --light-gold: #f1c40f;
  --background-color: #EDEDEE;
  --dark-grey: #DCDCDC;
}

body {
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.container {
  padding: 0 5%;
  max-width: 90%
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
}

.btn {
  background-color: var(--light-gold);
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  margin: 10px auto;
}


#header-img {
	max-width: 32px;
	max-height: 32px;
	height: auto;
	margin-right: 8px;
}

#brand-name {
	font-size: 24px;
}

#branding {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

/* 100% width column on mobile */
.nine-three-md, .twenty-eighty-md, .four-four-four-md {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100%);
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

input, #sign-up-caption {
  margin-top: 10px;
  margin-bottom: 10px;
}

input#email {
  padding: 5px;
  width: 250px;
  margin: 0 auto;
}

#submit {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 18px;
}

#features {
  text-align: center;  
}

.feature-description h2 {
	margin: 0 0 5px 0;
}

.feature-description p {
	margin: 5px 0 0 0;
}

#video-container {
  /*position: relative;
  overflow: hidden;
  padding-top: 50%;*/
	text-align: center;
	margin: 40px 0 40px 0;
}

#video {
  /*position: absolute;
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;*/
  max-width: 100%;
  max-height: 100%;
}

#pricing {
	max-width: 300px;
	margin: 0 auto 30px auto;
}


.price-card {
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}
.price-class {
	background-color: var(--dark-grey);
	text-transform: uppercase;
	margin: 0 auto 10px auto;
	padding: 10px 0 10px 0;
}

.price {
	font-size: 28px;
	font-weight: 700;
	margin: 0 auto;
}

.class-benefits {
	list-style: none;
	padding: 0;
}

.price-btn {
	padding: 10px 14px;
}

footer {
	background-color: var(--dark-grey);
	text-align: right;
	width: 100%;
	padding: 8px 16px;
}



#footer-nav-list {
	list-style: none;
}

#footer-nav-list li {
	display: inline;
	margin: 5px 8px;
}

#footer-nav-list li:last-of-type {
	margin-right: 0;
}

#copyright {
	margin: 5px 0 15px 0;
}

@media (min-width:768px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
	.nine-three-md {
		display: grid;
		grid-template-columns: repeat(auto-fit, 66.66% 33.33%);
	}
	.twenty-eighty-md {
	  display: grid;
    grid-template-columns: repeat(auto-fit, 20% 80%);
    justify-items: center;
    align-items: center;
	}
	
	.four-four-four-md {
		display: grid;
    grid-template-columns: repeat(auto-fit, 33.3% 33.3% 33.3%);
    grid-column-gap: 15px;
	}
	
	#branding {
	  justify-content: flex-start;
	}
	
	#features {
	  text-align: left;
	}
	
	.feature-description {
	  justify-self: start;
	}
	
	#pricing {
		max-width: 85%;
	}
}

@media (min-width:950px) {
  #nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
  }
}

@media (min-width:1400px) {
  
}