body {
	background-color: #EDEDEE;
	padding: 12px;
}

#header-img {
	max-width: 32px;
	max-height: 32px;
	height: auto;
	margin-right: 8px;
}

#brand-name {
	font-size: 24px;
}

#branding {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

/* 100% width column on mobile */
.nine-three-md {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100%);
}

@media (min-width:768px) {
	.nine-three-md {
		display: grid;
		grid-template-columns: repeat(auto-fit, 66.66% 33.33%);
	}
	
	#branding {
	  justify-content: flex-start;
	}
}

@media (min-width:950px) {
  #nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
  }
}